<div id="<%= dom_id player %>">
  <p>
    <strong>Nickname:</strong>
    <%= player.nickname %>
  </p>

  <p>
    <strong>Kills:</strong>
    <%= player.kills %>
  </p>

  <p>
    <strong>Deaths:</strong>
    <%= player.deaths %>
  </p>

  <p>
    <strong>Guild:</strong>
    <%= player.guild_id %>
  </p>

  <p>
    <strong>Character classes:</strong>
    <%= player.character_classes %>
  </p>

</div>
